.top,.bottom{
  background-color: teal;
  width: 70%;
  overflow: hidden;
  margin: 70px auto;
  height: 200px;
}
.input{
  width: 200px;
  line-height: 30px;
  font-size: 20px;
  background-color: yellow;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}
.btn{
  background-color: red;
  color: #fff;
  font-size: 20px;
  padding: 5px;
  border: none;
  font-weight: 600;
}
.number{
  display: block;
  margin-top: 170px;
  font-size: 20px;
  margin-left: 700px;
  color: #fff;
}
